/* ################## GLOBAL STYLES ################## */

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: black;
}

/* ################## GAME CONTAINER ################## */

#gameContainer {
    width: 600px;
    height: 680px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#gameContainer h1, #gameContainer #selectors {
    color: rgb(255, 255, 255, 0.75);
    height: 40px;
    margin: 0;
}

/* ################## GAME BOARD ################## */

#gameContainer #gameBoard {
    background-color: rgb(4, 130, 184);
    flex-grow: 1;
    width: 100%;
    border-radius: 1%;
    position: relative;
    z-index: 0;
}

#gameContainer #gameBoard .container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#gameContainer #gameBoard.rows3.columns4 {
    flex-grow: calc(3 / 4);
    width: 100%;
}

#gameContainer #gameBoard.rows3.columns5 {
    flex-grow: calc(3 / 5);
    width: 100%;
}

#gameContainer #gameBoard.rows3.columns6 {
    flex-grow: calc(3 / 6);
    width: 100%;
}

#gameContainer #gameBoard.rows4.columns3 {
    flex-grow: 1;
    width: calc(100% * 3 / 4);
}

#gameContainer #gameBoard.rows4.columns5 {
    flex-grow: calc(4 / 5);
    width: 100%;
}

#gameContainer #gameBoard.rows4.columns6 {
    flex-grow: calc(4 / 6);
    width: 100%;
}

#gameContainer #gameBoard.rows5.columns3 {
    flex-grow: 1;
    width: calc(100% * 3 / 5);
}

#gameContainer #gameBoard.rows5.columns4 {
    flex-grow: 1;
    width: calc(100% * 4 / 5);
}

#gameContainer #gameBoard.rows5.columns6 {
    flex-grow: calc(5 / 6);
    width: 100%;
}

#gameContainer #gameBoard.rows6.columns3 {
    flex-grow: 1;
    width: calc(100% * 3 / 6);
}

#gameContainer #gameBoard.rows6.columns4 {
    flex-grow: 1;
    width: calc(100% * 4 / 6);
}

#gameContainer #gameBoard.rows6.columns5 {
    flex-grow: 1;
    width: calc(100% * 5 / 6);
}

/* ################## GRID CONTAINER ################## */

#gameContainer #gameBoard #grid {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
}

#gameContainer #gameBoard #grid .gridEdge {
    flex-grow: 0.1;
}

#gameContainer #gameBoard #grid .gridRow {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#gameContainer #gameBoard #grid .gridRow .gridCell {
    flex-grow: 1;
    background-color: rgb(238, 228, 218, 0.35);
    border-radius: 5%;
}

/* ################## TILE CONTAINER ################## */

#gameContainer #gameBoard #tiles {
    z-index: 2;
}

@keyframes appear {
    0% {
        transform : scale(0);
    }
    100% {
        transform : scale(1);
    }
}

#gameContainer #gameBoard #tiles .tile {
    position: absolute;
    border-radius: 5%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    animation-name: appear;
    animation-duration: 0.2s;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}

/* ################## TILE COLORS ################## */

#gameContainer #gameBoard #tiles .tile.value2 {
    background-color: rgb(0, 255, 0, 0.09);
}

#gameContainer #gameBoard #tiles .tile.value4 {
    background-color: rgb(0, 255, 0, 0.18);
}

#gameContainer #gameBoard #tiles .tile.value8 {
    background-color: rgb(0, 255, 0, 0.27);
}

#gameContainer #gameBoard #tiles .tile.value16 {
    background-color: rgb(0, 255, 0, 0.36);
}

#gameContainer #gameBoard #tiles .tile.value32 {
    background-color: rgb(0, 255, 0, 0.45);
}

#gameContainer #gameBoard #tiles .tile.value64 {
    background-color: rgb(0, 255, 0, 0.54);
}

#gameContainer #gameBoard #tiles .tile.value128 {
    background-color: rgb(0, 255, 0, 0.63);
}

#gameContainer #gameBoard #tiles .tile.value256 {
    background-color: rgb(0, 255, 0, 0.72);
}

#gameContainer #gameBoard #tiles .tile.value512 {
    background-color: rgb(0, 255, 0, 0.81);
}

#gameContainer #gameBoard #tiles .tile.value1024 {
    background-color: rgb(0, 255, 0, 0.90);
}

#gameContainer #gameBoard #tiles .tile.value2048 {
    background-color: rgb(0, 255, 0, 1.00);
}

/* ################## HEIGHTS & WIDTHS ################## */

#gameContainer #gameBoard.rows3 #tiles .tile {
    height: calc(100% / 3.4)
}

#gameContainer #gameBoard.columns3 #tiles .tile {
    width: calc(100% / 3.4)
}

#gameContainer #gameBoard.rows4 #tiles .tile {
    height: calc(100% / 4.5)
}

#gameContainer #gameBoard.columns4 #tiles .tile {
    width: calc(100% / 4.5)
}

#gameContainer #gameBoard.rows5 #tiles .tile {
    height: calc(100% / 5.6)
}

#gameContainer #gameBoard.columns5 #tiles .tile {
    width: calc(100% / 5.6)
}

#gameContainer #gameBoard.rows6 #tiles .tile {
    height: calc(100% / 6.7)
}

#gameContainer #gameBoard.columns6 #tiles .tile {
    width: calc(100% / 6.7)
}

/* ################## TOPS ################## */

#gameContainer #gameBoard.rows3 #tiles .tile.row1 {
    top: calc(100% * 0.1 / 3.4)
}

#gameContainer #gameBoard.rows3 #tiles .tile.row2 {
    top: calc(100% * 1.2 / 3.4)
}

#gameContainer #gameBoard.rows3 #tiles .tile.row3 {
    top: calc(100% * 2.3 / 3.4)
}

#gameContainer #gameBoard.rows4 #tiles .tile.row1 {
    top: calc(100% * 0.1 / 4.5)
}

#gameContainer #gameBoard.rows4 #tiles .tile.row2 {
    top: calc(100% * 1.2 / 4.5)
}

#gameContainer #gameBoard.rows4 #tiles .tile.row3 {
    top: calc(100% * 2.3 / 4.5)
}

#gameContainer #gameBoard.rows4 #tiles .tile.row4 {
    top: calc(100% * 3.4 / 4.5)
}

#gameContainer #gameBoard.rows5 #tiles .tile.row1 {
    top: calc(100% * 0.1 / 5.6)
}

#gameContainer #gameBoard.rows5 #tiles .tile.row2 {
    top: calc(100% * 1.2 / 5.6)
}

#gameContainer #gameBoard.rows5 #tiles .tile.row3 {
    top: calc(100% * 2.3 / 5.6)
}

#gameContainer #gameBoard.rows5 #tiles .tile.row4 {
    top: calc(100% * 3.4 / 5.6)
}

#gameContainer #gameBoard.rows5 #tiles .tile.row5 {
    top: calc(100% * 4.5 / 5.6)
}

#gameContainer #gameBoard.rows6 #tiles .tile.row1 {
    top: calc(100% * 0.1 / 6.7)
}

#gameContainer #gameBoard.rows6 #tiles .tile.row2 {
    top: calc(100% * 1.2 / 6.7)
}

#gameContainer #gameBoard.rows6 #tiles .tile.row3 {
    top: calc(100% * 2.3 / 6.7)
}

#gameContainer #gameBoard.rows6 #tiles .tile.row4 {
    top: calc(100% * 3.4 / 6.7)
}

#gameContainer #gameBoard.rows6 #tiles .tile.row5 {
    top: calc(100% * 4.5 / 6.7)
}

#gameContainer #gameBoard.rows6 #tiles .tile.row6 {
    top: calc(100% * 5.6 / 6.7)
}

/* ################## LEFTS ################## */

#gameContainer #gameBoard.columns3 #tiles .tile.column1 {
    left: calc(100% * 0.1 / 3.4)
}

#gameContainer #gameBoard.columns3 #tiles .tile.column2 {
    left: calc(100% * 1.2 / 3.4)
}

#gameContainer #gameBoard.columns3 #tiles .tile.column3 {
    left: calc(100% * 2.3 / 3.4)
}

#gameContainer #gameBoard.columns4 #tiles .tile.column1 {
    left: calc(100% * 0.1 / 4.5)
}

#gameContainer #gameBoard.columns4 #tiles .tile.column2 {
    left: calc(100% * 1.2 / 4.5)
}

#gameContainer #gameBoard.columns4 #tiles .tile.column3 {
    left: calc(100% * 2.3 / 4.5)
}

#gameContainer #gameBoard.columns4 #tiles .tile.column4 {
    left: calc(100% * 3.4 / 4.5)
}

#gameContainer #gameBoard.columns5 #tiles .tile.column1 {
    left: calc(100% * 0.1 / 5.6)
}

#gameContainer #gameBoard.columns5 #tiles .tile.column2 {
    left: calc(100% * 1.2 / 5.6)
}

#gameContainer #gameBoard.columns5 #tiles .tile.column3 {
    left: calc(100% * 2.3 / 5.6)
}

#gameContainer #gameBoard.columns5 #tiles .tile.column4 {
    left: calc(100% * 3.4 / 5.6)
}

#gameContainer #gameBoard.columns5 #tiles .tile.column5 {
    left: calc(100% * 4.5 / 5.6)
}

#gameContainer #gameBoard.columns6 #tiles .tile.column1 {
    left: calc(100% * 0.1 / 6.7)
}

#gameContainer #gameBoard.columns6 #tiles .tile.column2 {
    left: calc(100% * 1.2 / 6.7)
}

#gameContainer #gameBoard.columns6 #tiles .tile.column3 {
    left: calc(100% * 2.3 / 6.7)
}

#gameContainer #gameBoard.columns6 #tiles .tile.column4 {
    left: calc(100% * 3.4 / 6.7)
}

#gameContainer #gameBoard.columns6 #tiles .tile.column5 {
    left: calc(100% * 4.5 / 6.7)
}

#gameContainer #gameBoard.columns6 #tiles .tile.column6 {
    left: calc(100% * 5.6 / 6.7)
}
