body {
    background-color: black;
}

/* ################## GAME CONTAINER ################## */

#gameContainer {
    width: 500px;
    height: 540px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#gameContainer h1 {
    color: rgb(255, 255, 255, 0.75);
    height: 40px;
    margin: 0;
    text-align: center;
}

#gameContainer #gameBoard {
    background-color: rgb(4, 130, 184);
    flex-grow: 1;
    border-radius: 1%;
    position: relative;
    z-index: 0;
}

#gameContainer #gameBoard .container {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* ################## GRID CONTAINER ################## */

#gameContainer #gameBoard #grid {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
}

#gameContainer #gameBoard #grid .gridEdge {
    flex-grow: 0.1;
}

#gameContainer #gameBoard #grid .gridRow {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#gameContainer #gameBoard #grid .gridRow .gridCell {
    flex-grow: 1;
    background-color: rgb(238, 228, 218, 0.35);
    border-radius: 5%;
}

/* ################## TILE CONTAINER ################## */

#gameContainer #gameBoard #tiles {
    z-index: 2;
}

@keyframes appear {
    0% {
        transform : scale(0);
    }
    100% {
        transform : scale(1);
    }
}

#gameContainer #gameBoard #tiles .tile {
    position: absolute;
    border-radius: 5%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    animation-name: appear;
    animation-duration: 0.2s;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}

/* ################## TILE COLORS ################## */

#gameContainer #gameBoard #tiles .tile.color2 {
    background-color: rgb(0, 255, 0, 0.09);
}

#gameContainer #gameBoard #tiles .tile.color4 {
    background-color: rgb(0, 255, 0, 0.18);
}

#gameContainer #gameBoard #tiles .tile.color8 {
    background-color: rgb(0, 255, 0, 0.27);
}

#gameContainer #gameBoard #tiles .tile.color16 {
    background-color: rgb(0, 255, 0, 0.36);
}

#gameContainer #gameBoard #tiles .tile.color32 {
    background-color: rgb(0, 255, 0, 0.45);
}

#gameContainer #gameBoard #tiles .tile.color64 {
    background-color: rgb(0, 255, 0, 0.54);
}

#gameContainer #gameBoard #tiles .tile.color128 {
    background-color: rgb(0, 255, 0, 0.63);
}

#gameContainer #gameBoard #tiles .tile.color256 {
    background-color: rgb(0, 255, 0, 0.72);
}

#gameContainer #gameBoard #tiles .tile.color512 {
    background-color: rgb(0, 255, 0, 0.81);
}

#gameContainer #gameBoard #tiles .tile.color1024 {
    background-color: rgb(0, 255, 0, 0.90);
}

#gameContainer #gameBoard #tiles .tile.color2048 {
    background-color: rgb(0, 255, 0, 1.00);
}

/* ################## HEIGHTS & WIDTHS ################## */

#gameContainer #gameBoard.rows2 #tiles .tile {
    height: calc(100% / 2.3)
}

#gameContainer #gameBoard.columns2 #tiles .tile {
    width: calc(100% / 2.3)
}

#gameContainer #gameBoard.rows3 #tiles .tile {
    height: calc(100% / 3.4)
}

#gameContainer #gameBoard.columns3 #tiles .tile {
    width: calc(100% / 3.4)
}

#gameContainer #gameBoard.rows4 #tiles .tile {
    height: calc(100% / 4.5)
}

#gameContainer #gameBoard.columns4 #tiles .tile {
    width: calc(100% / 4.5)
}

#gameContainer #gameBoard.rows5 #tiles .tile {
    height: calc(100% / 5.6)
}

#gameContainer #gameBoard.columns5 #tiles .tile {
    width: calc(100% / 5.6)
}

#gameContainer #gameBoard.rows6 #tiles .tile {
    height: calc(100% / 6.7)
}

#gameContainer #gameBoard.columns6 #tiles .tile {
    width: calc(100% / 6.7)
}

#gameContainer #gameBoard.rows7 #tiles .tile {
    height: calc(100% / 7.8)
}

#gameContainer #gameBoard.columns7 #tiles .tile {
    width: calc(100% / 7.8)
}

#gameContainer #gameBoard.rows8 #tiles .tile {
    height: calc(100% / 8.9)
}

#gameContainer #gameBoard.columns8 #tiles .tile {
    width: calc(100% / 8.9)
}

/* ################## TOPS ################## */

#gameContainer #gameBoard.rows2 #tiles .tile.row1 {
    top: calc(100% * 0.1 / 2.3)
}

#gameContainer #gameBoard.rows2 #tiles .tile.row2 {
    top: calc(100% * 1.2 / 2.3)
}

#gameContainer #gameBoard.rows3 #tiles .tile.row1 {
    top: calc(100% * 0.1 / 3.4)
}

#gameContainer #gameBoard.rows3 #tiles .tile.row2 {
    top: calc(100% * 1.2 / 3.4)
}

#gameContainer #gameBoard.rows3 #tiles .tile.row3 {
    top: calc(100% * 2.3 / 3.4)
}

#gameContainer #gameBoard.rows4 #tiles .tile.row1 {
    top: calc(100% * 0.1 / 4.5)
}

#gameContainer #gameBoard.rows4 #tiles .tile.row2 {
    top: calc(100% * 1.2 / 4.5)
}

#gameContainer #gameBoard.rows4 #tiles .tile.row3 {
    top: calc(100% * 2.3 / 4.5)
}

#gameContainer #gameBoard.rows4 #tiles .tile.row4 {
    top: calc(100% * 3.4 / 4.5)
}

#gameContainer #gameBoard.rows5 #tiles .tile.row1 {
    top: calc(100% * 0.1 / 5.6)
}

#gameContainer #gameBoard.rows5 #tiles .tile.row2 {
    top: calc(100% * 1.2 / 5.6)
}

#gameContainer #gameBoard.rows5 #tiles .tile.row3 {
    top: calc(100% * 2.3 / 5.6)
}

#gameContainer #gameBoard.rows5 #tiles .tile.row4 {
    top: calc(100% * 3.4 / 5.6)
}

#gameContainer #gameBoard.rows5 #tiles .tile.row5 {
    top: calc(100% * 4.5 / 5.6)
}

#gameContainer #gameBoard.rows6 #tiles .tile.row1 {
    top: calc(100% * 0.1 / 6.7)
}

#gameContainer #gameBoard.rows6 #tiles .tile.row2 {
    top: calc(100% * 1.2 / 6.7)
}

#gameContainer #gameBoard.rows6 #tiles .tile.row3 {
    top: calc(100% * 2.3 / 6.7)
}

#gameContainer #gameBoard.rows6 #tiles .tile.row4 {
    top: calc(100% * 3.4 / 6.7)
}

#gameContainer #gameBoard.rows6 #tiles .tile.row5 {
    top: calc(100% * 4.5 / 6.7)
}

#gameContainer #gameBoard.rows6 #tiles .tile.row6 {
    top: calc(100% * 5.6 / 6.7)
}

#gameContainer #gameBoard.rows7 #tiles .tile.row1 {
    top: calc(100% * 0.1 / 7.8)
}

#gameContainer #gameBoard.rows7 #tiles .tile.row2 {
    top: calc(100% * 1.2 / 7.8)
}

#gameContainer #gameBoard.rows7 #tiles .tile.row3 {
    top: calc(100% * 2.3 / 7.8)
}

#gameContainer #gameBoard.rows7 #tiles .tile.row4 {
    top: calc(100% * 3.4 / 7.8)
}

#gameContainer #gameBoard.rows7 #tiles .tile.row5 {
    top: calc(100% * 4.5 / 7.8)
}

#gameContainer #gameBoard.rows7 #tiles .tile.row6 {
    top: calc(100% * 5.6 / 7.8)
}

#gameContainer #gameBoard.rows7 #tiles .tile.row7 {
    top: calc(100% * 6.7 / 7.8)
}

#gameContainer #gameBoard.rows8 #tiles .tile.row1 {
    top: calc(100% * 0.1 / 8.9)
}

#gameContainer #gameBoard.rows8 #tiles .tile.row2 {
    top: calc(100% * 1.2 / 8.9)
}

#gameContainer #gameBoard.rows8 #tiles .tile.row3 {
    top: calc(100% * 2.3 / 8.9)
}

#gameContainer #gameBoard.rows8 #tiles .tile.row4 {
    top: calc(100% * 3.4 / 8.9)
}

#gameContainer #gameBoard.rows8 #tiles .tile.row5 {
    top: calc(100% * 4.5 / 8.9)
}

#gameContainer #gameBoard.rows8 #tiles .tile.row6 {
    top: calc(100% * 5.6 / 8.9)
}

#gameContainer #gameBoard.rows8 #tiles .tile.row7 {
    top: calc(100% * 6.7 / 8.9)
}

#gameContainer #gameBoard.rows8 #tiles .tile.row8 {
    top: calc(100% * 7.8 / 8.9)
}

/* ################## LEFTS ################## */

#gameContainer #gameBoard.columns2 #tiles .tile.column1 {
    left: calc(100% * 0.1 / 2.3)
}

#gameContainer #gameBoard.columns2 #tiles .tile.column2 {
    left: calc(100% * 1.2 / 2.3)
}

#gameContainer #gameBoard.columns3 #tiles .tile.column1 {
    left: calc(100% * 0.1 / 3.4)
}

#gameContainer #gameBoard.columns3 #tiles .tile.column2 {
    left: calc(100% * 1.2 / 3.4)
}

#gameContainer #gameBoard.columns3 #tiles .tile.column3 {
    left: calc(100% * 2.3 / 3.4)
}

#gameContainer #gameBoard.columns4 #tiles .tile.column1 {
    left: calc(100% * 0.1 / 4.5)
}

#gameContainer #gameBoard.columns4 #tiles .tile.column2 {
    left: calc(100% * 1.2 / 4.5)
}

#gameContainer #gameBoard.columns4 #tiles .tile.column3 {
    left: calc(100% * 2.3 / 4.5)
}

#gameContainer #gameBoard.columns4 #tiles .tile.column4 {
    left: calc(100% * 3.4 / 4.5)
}

#gameContainer #gameBoard.columns5 #tiles .tile.column1 {
    left: calc(100% * 0.1 / 5.6)
}

#gameContainer #gameBoard.columns5 #tiles .tile.column2 {
    left: calc(100% * 1.2 / 5.6)
}

#gameContainer #gameBoard.columns5 #tiles .tile.column3 {
    left: calc(100% * 2.3 / 5.6)
}

#gameContainer #gameBoard.columns5 #tiles .tile.column4 {
    left: calc(100% * 3.4 / 5.6)
}

#gameContainer #gameBoard.columns5 #tiles .tile.column5 {
    left: calc(100% * 4.5 / 5.6)
}

#gameContainer #gameBoard.columns6 #tiles .tile.column1 {
    left: calc(100% * 0.1 / 6.7)
}

#gameContainer #gameBoard.columns6 #tiles .tile.column2 {
    left: calc(100% * 1.2 / 6.7)
}

#gameContainer #gameBoard.columns6 #tiles .tile.column3 {
    left: calc(100% * 2.3 / 6.7)
}

#gameContainer #gameBoard.columns6 #tiles .tile.column4 {
    left: calc(100% * 3.4 / 6.7)
}

#gameContainer #gameBoard.columns6 #tiles .tile.column5 {
    left: calc(100% * 4.5 / 6.7)
}

#gameContainer #gameBoard.columns6 #tiles .tile.column6 {
    left: calc(100% * 5.6 / 6.7)
}

#gameContainer #gameBoard.columns7 #tiles .tile.column1 {
    left: calc(100% * 0.1 / 7.8)
}

#gameContainer #gameBoard.columns7 #tiles .tile.column2 {
    left: calc(100% * 1.2 / 7.8)
}

#gameContainer #gameBoard.columns7 #tiles .tile.column3 {
    left: calc(100% * 2.3 / 7.8)
}

#gameContainer #gameBoard.columns7 #tiles .tile.column4 {
    left: calc(100% * 3.4 / 7.8)
}

#gameContainer #gameBoard.columns7 #tiles .tile.column5 {
    left: calc(100% * 4.5 / 7.8)
}

#gameContainer #gameBoard.columns7 #tiles .tile.column6 {
    left: calc(100% * 5.6 / 7.8)
}

#gameContainer #gameBoard.columns7 #tiles .tile.column7 {
    left: calc(100% * 6.7 / 7.8)
}

#gameContainer #gameBoard.columns8 #tiles .tile.column1 {
    left: calc(100% * 0.1 / 8.9)
}

#gameContainer #gameBoard.columns8 #tiles .tile.column2 {
    left: calc(100% * 1.2 / 8.9)
}

#gameContainer #gameBoard.columns8 #tiles .tile.column3 {
    left: calc(100% * 2.3 / 8.9)
}

#gameContainer #gameBoard.columns8 #tiles .tile.column4 {
    left: calc(100% * 3.4 / 8.9)
}

#gameContainer #gameBoard.columns8 #tiles .tile.column5 {
    left: calc(100% * 4.5 / 8.9)
}

#gameContainer #gameBoard.columns8 #tiles .tile.column6 {
    left: calc(100% * 5.6 / 8.9)
}

#gameContainer #gameBoard.columns8 #tiles .tile.column7 {
    left: calc(100% * 6.7 / 8.9)
}

#gameContainer #gameBoard.columns8 #tiles .tile.column8 {
    left: calc(100% * 7.8 / 8.9)
}
